body {
  background-color: wheat;
}

.header , h2{
  text-align: center;
}

.header p {
  font-style: italic;
}

#image-container {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
  align-items: center;
  width: 75%;
  margin: 20px auto 40px auto;
}

#image-container > div {
  flex-direction: column;
  display: flex;
  border: thin solid black;
}

#image-container div > img {
  min-width: 0px;
  width: 150px;
  height: auto;
}

#image-container div button {
  height: 3em;
  border-radius: 0px;
  border: 0px;
}

#image-container div button:hover {
  background-color: rgb(150, 150, 150);
}

#reminder {
  text-align: center;
  font-style: italic;
  color: hsl(0, 100%, 25%);
}






#results .flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 200px;
  text-align: center;
}

#results .human-score, #results .computer-score {
  width: 10em;
  align-items: center;
}


#results .human-score {
  background-color: green;
}

#results .computer-score {
  background-color: red;
}

#results .score, #results .label {
  border-style: solid;
  border-color: black;
  padding: 10px;
}

#results .score {
  font-size: 100px;
  border-width: 1px 2px 2px 2px;
}

#results .label {
  border-width: 2px 2px 1px 2px;
}





#results .flex-container .round {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: yellow;
  padding: 20px;
  border: 2px solid black;
}

#results img {
  width: 150px;
  height: auto;
  border: thin solid black;
}

#results .message {
  width: 150px;
}
